@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemon-wrapper {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    max-width: 200px;
    width: 100%;
}

#pokemon-wrapper h3{
    font-size: 22px;
    color: #313131;
    margin-bottom: 5px;
}

#pokemon-wrapper #type{
}

img {
    background-color: rgb(242, 242, 242);
    width: 100%;
}