/*
.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 30px;
}

.border {
  border: 5px solid black;
}
*/


/*
.super-mario {
  position: absolute;
  width: 200px;
}

p {
  position: absolute;
  top: 425px;
  left: 420px;
  z-index: 2;
}

.goomba {
  position: absolute;
  width: 200px;
  top: 400px;
}

.baloon {
  position: absolute;
  width: 200px;
  top: 400px;
  left: 400px;
  z-index: 1;
}

.bowser {
  position: absolute;
  width: 200px;
  top: 400px;
  left: 600px;
}
*/

/*
h1, p {
  text-align: center;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
li:hover {
  background-color: orange;
  color: #8257e5;
}

li:active a{
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
}
*/


div:hover {
  border: 3px solid palegreen;
}

div:first-of-type {
  background-color: paleturquoise;
}

div:last-of-type {
  background-color: peru;
}

div:nth-of-type(2n) {
  background-color: slateblue;
}

div:nth-of-type(3n) {
  background-color: red;
}

div:nth-of-type(4n) {
  background-color: purple;
}



body div:first-of-type {
  color: blueviolet;
}

body div:nth-last-child(3n+2) {
  color: aquamarine;
}

body div:nth-last-child(3n+3) {
  color: black;
}

body div:nth-last-child(3n+4) {
  color: darkcyan;
}

body div:last-of-type {
  color: aliceblue;
}