/*
.caixa {
  color: white;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  vertical-align: top;
}

.width-and-height {
  height: 50px;
  width: 50px;
}

.padding {
  padding: 20px;
}

.margin {
  margin: 30px;
}

.border {
  border: 5px solid black;
}
*/


/*
.super-mario {
  position: absolute;
  width: 200px;
}

p {
  position: absolute;
  top: 425px;
  left: 420px;
  z-index: 2;
}

.goomba {
  position: absolute;
  width: 200px;
  top: 400px;
}

.baloon {
  position: absolute;
  width: 200px;
  top: 400px;
  left: 400px;
  z-index: 1;
}

.bowser {
  position: absolute;
  width: 200px;
  top: 400px;
  left: 600px;
}
*/